.imageContainer {
    position: absolute;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    background: linear-gradient(
        transparent 50%,
        var(--g-color-base-background) 100%
    );
}
