.container {
    -ms-overflow-style: none;
    scrollbar-width: none;

    height: 100vh;
    overflow-y: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;

    -webkit-overflow-scrolling: touch;

    &::-webkit-scrollbar {
        display: none;
    }
}

.item {
    scroll-snap-align: end;
}
