.container {
    -ms-overflow-style: none;
    scrollbar-width: none;

    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}
.container::-webkit-scrollbar {
    display: none;
}
